@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-stone-100;
    @apply text-gray-800;
    @apply font-sans;
}

@theme {
    --font-sans: "Montserrat", sans-serif;
    --font-serif: "Libertinus Math", serif;

    /* Primary colors (greens) */
    --color-primary-dark: #1bac90;
    --color-primary: #67c18c;
    --color-primary-light: #79c58c;

    --color-wsp: #25D366;

    /* Secondary colors (blues) */
    --color-secondary-dark: #14618a;
    --color-secondary: #1e92d2;
    --color-secondary-light: #0da1db;

    /* Accent colors (pinks and orange) */
    --color-accent: #f05988;
    --color-accent-light: #f16780;
    --color-warning: #f48665;

    --breakpoint-xs: 420px;
}
